<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.micarol.stock.dao.mapper.StockMapper" >

	<resultMap id="codeMap" type="HashMap" >
	    <result column="code" property="code"  />
	    <result column="name" property="name"  />
	</resultMap>
	
	<resultMap type="com.micarol.stock.pojo.StockAlarmSetting" id="settingMap">
		<result column="id" property="id"  />
		<result column="user_id" property="userid"  />
		<result column="code" property="code"  />
		<result column="keyword" property="keyword"  />
		<result column="email" property="email"  />
		<result column="notice" property="notice"  />
		<result column="create_time" property="createTime"  />
	</resultMap>

	<select id="allCodesForPubNotice" resultMap="codeMap">
		select 
			sc.code code, ifnull(temp.date, '2017-01-01') date
		from 
			stock_code sc 
		left join 
			(select sn.code, max(sn.date) as date from stock_notice sn group by sn.code) temp 
		on 
			sc.code=temp.code
	</select>	  
	
	<insert id="insertUpdatePubNotice">
		insert into 
			stock_notice 
		(uni_key, code, title, link, date, post_time) 
		values 
		<foreach collection="list" item="item" separator=",">
			(
			#{item.uniKey}, #{item.code}, #{item.title}, #{item.link}, #{item.date}, now()
			)
		</foreach>
		on duplicate key update 
			post_time = values(post_time)
	</insert>
	
	<insert id="addStockAlarmSetting" keyProperty="id">
		insert into 
			stock_alarm_setting
		(user_id, code, keyword, notice, create_time) 
		values 
		(#{setting.userid}, #{setting.code}, #{setting.keyword}, #{setting.notice}, #{setting.createTime})
	</insert>
	
	<insert id="backupStockAlarmSetting">
		insert into 
			stock_alarm_setting_del
		select * from stock_alarm_setting where id=${id}
	</insert>
	
	<delete id="delStockAlarmSetting">
		delete from stock_alarm_setting where user_id=${userid} and id=${id}
	</delete>
	
	<select id="listSettings" resultMap="settingMap">
		select * from stock_alarm_setting order by code
	</select>
	
	<insert id="insertAlarmRec">
		insert into 
			stock_alarm_rec 
			(alarm_id, code, keyword, uni_key, create_time) 
		values 
		<foreach collection="list" item="item" separator=",">
			(
			 #{item.alarmid}, #{item.code}, #{item.keyword}, #{item.uniKey}, now()
			)
		</foreach>
		on duplicate key update 
			post_time = values(post_time)
	</insert>
</mapper>